
@mec-green: #0ca948;

body {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    font-weight: lighter;
    color: #FFF;
    background-color: #333;
    text-shadow: #000 0px 0px 2px;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    color: @mec-green;
}

a {
    color: @mec-green;

    &:hover {
        color: lighten(@mec-green, 10%);
    }
    &:active {
        color: darken(desaturate(@mec-green, 10%), 10%);
    }
    &:visited {
        color: @mec-green;
    }
}

input {
    font-family: 'Oswald', sans-serif;
    padding: 0.5em;
    font-size: 1em;
}

#page {
    min-height: 20em;
    padding: 1em;
}

.button {
    display: inline-block;
    font-size: 1em;
    padding: 0.5em;
    color: @mec-green;
    cursor: pointer;
    background-color: rgba(50,50,50,0.3);

    &:hover {
        background-color: rgba(50,50,50,0.5);
    }
}

a.disabled {
    color: #CCC;
    cursor: default;

    &:hover {
        color: #CCC;
    }
    &:active {
        color: #CCC;
    }
    &:visited {
        color: #CCC;
    }
}

.muted {
    color: #999;
    font-size: 90%;
}

.errorBox {
    padding: 1em;
    font-size: 90%;
    color: #FFF;
    text-shadow: #333 0px 0px 4px;
    background-color: rgba(240,40,40,0.8);
}

.result {
    float: left;
    width: 6em;
    height: 6em;
    background-repeat: no-repeat;
    color: #000;
    text-shadow: #FFF 0px 0px 4px;
    margin: 0.5em;
    display: inline-block;
    background-size: contain;
}
